<div class="tit">
    <nav class="nav nav--active">
        <ul class="nav__list">
            <li class="" title="BARRAGÁN">
                <span>Barragán </span>
                <img width="70px" class="" src="../../assets/img/logo.jpeg">
                <span> Barragán </span>
              </li>
          <li class="nav__item" routerLinkActive="active">
            <a class="nav__link" [routerLink]="['home']" >
              <fa-icon class="iconos fa-3x"  [icon]="icoIni"></fa-icon>
              <p class="nav__label">Inicio</p>
            </a>
          </li>
          <li class="nav__item" routerLinkActive="active">
            <a class="nav__link" [routerLink]="['contactos']">
              <fa-icon class="iconos fa-3x"  [icon]="icoCont"></fa-icon>
              <p class="nav__label">Contacto</p>
            </a>
          </li>
          <li class="nav__item" routerLinkActive="active">
            <a class="nav__link" [routerLink]="['preguntas']">
              <fa-icon class="iconos fa-3x"  [icon]="icoPreg"></fa-icon>
              <p class="nav__label">Preguntas Frecuentes</p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
